*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: linear-gradient(135deg, #00feba77, #7869da);
    color: #fff;
    height: 100vh;
}

/* .card{
    width: 90%;
    height: 160%;
    min-width: 470px;
    color: #fff;
    margin: 0px auto 0;
    border-radius: 20px;
    padding: 40px 36px;
    justify-content: start;
    align-items: start;
} */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.search input{
    width: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 1% 2%;
    border-radius: 20px;
    margin-right: 1vw;
    font-size: 1.1rem;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 3.55%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.search button img{
    width: 1.7vw;
    height: 2.3vh;
}

/* .weather img{
    justify-content: start;
    align-items: start;
    padding-right: 20px;
    margin-right: 20px;
} */

.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.temp p{
   font-size: 3.7vw;
   margin-left: 2vw;
   font-weight: bold;
}

.city-card{
    height: 39%;
    width: 24%;
    background-color: rgb(72, 71, 71);
    font-family: "Montserrat", sans-serif;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    margin-left: 79vh;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.details-para{
    font-size: 2.6vw;
    font-weight: 600;
}

.further-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.hum-img{
   margin-right: 1%;
}

.humidity{
    margin-right: 1%;
    font-size: 2.6vw;
    font-weight: 450;
}

.hum-percentage{
    font-size: 2.6vw;
    font-weight: 450;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.error p{
    font-size: 1.5vw;
}

/*responsive css*/

@media (max-width: 750px) {
    .hum-img{
        margin-right: 2.5%;
    }
    
    .humidity{
        margin-right: 2.5%;
    }
}

@media (max-width: 1024px) {
    .city-card{
        margin-left: 29vh;
    }
}

@media (max-width: 820px) {
    .city-card{
        margin-left: 26vh;
    }
}

@media (max-width: 480px) {
    .search input{
        font-size: 6.5vw;
        width: 65%;
        font-weight: 500;
    }

    search button{
        width: 400%;
        height: 390%;
    }
    
    .search button img{
        width: 4vw;
        height: 6vh;
    }

    .city-card{
        height: 79%;
        width: 49%;
        font-size: 5vw;
        margin-left: 14vh;
    }

    .weather-icon{
        width: 58%;
        height: 62%;
    }

    .temp p{
        font-size: 9vw;
        margin-left: 0vw;
     }

     .details-para{
        font-size: 8vw;
        margin-left: 3vh;
    }

    .hum-img{
        width: 26%;
     }
     
     .humidity{
         font-size: 7vw;
     }
     
     .hum-percentage{
         font-size: 7vw;
     }
}
